<template>
  <div id="app">
    <nav class="blue-grey darken-3">
      <div class="nav-wrapper container">
        <router-link class="brand-logo" to="/">LoL</router-link>
        <ul id="nav-mobile" class="right">
          <li :class="{active: $route.name === 'heroes'}">
            <router-link to="/heroes">Heroes</router-link>
          </li>
        </ul>
      </div>
  </nav>
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>

export default {
  name: 'App'
}
</script>

<style>
#app {

}
</style>
