<template>
  <div>
    <template v-if="isLoading">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </template>
    <template v-else-if="isNotFound">
      <h2>Hero is not found</h2>
    </template>
    <template v-else>
      <div class="col s12 m7">
        <h3 class="header white-text blue-grey darken-3"
            style="margin-bottom: 0; padding: 24px; border-bottom: 1px solid black"
            >
          {{hero.name}} - <strong>{{hero.title}}</strong>
        </h3>
        <div class="card horizontal"
             style="margin-top: 0">
          <div class="card-image blue-grey darken-3">
            <div class="card-content">
              <img :src="hero.icon" width="100px" height="120px">
            </div>
          </div>
          <div class="card-stacked blue-grey lighten-4">
            <div class="card-content">
              <div>
                <h4 style="margin-top: 0px">Description</h4>
                <p >
                  {{hero.description}}
                </p>
              </div>
              <div>
                <h4>Categories</h4>
                <div style="overflow: hidden">
                  <span v-for="item in hero.tags"
                        :key="item.id"
                        style="margin-left: 0px; margin-right: 20px;"
                        class="badge blue white-text left">
                    {{ item }}
                  </span>
                  <!-- <span class="badge blue darken-3 white-text left">Tank</span> -->
                </div>
              </div>
              <div style="overflow: hidden">
                <h4>Stats</h4>
                <ul>
                  <li v-for="(item, key) in hero.stats"
                      :key="key">
                    {{key}}: <strong class="blue-text text-darken-3">{{item}}</strong>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
const STATUS_LOADING = 0
const STATUS_FOUND = 1
const STATUS_NOT_FOUND = 2

export default {
  name: 'Hero',
  data () {
    return {
      status: STATUS_LOADING,
      hero: {}
    }
  },
  computed: {
    isLoading () {
      return this.status === STATUS_LOADING
    },
    isFound () {
      return this.status === STATUS_FOUND
    },
    isNotFound () {
      return this.status === STATUS_NOT_FOUND
    }
  },
  methods: {
    loadHero () {
      this.$api.getHero(this.$route.params.id).then((hero) => {
        this.hero = hero
        this.status = STATUS_FOUND
      }).catch(() => {
        this.hero = {}
        this.status = STATUS_NOT_FOUND
      })
    }
  },
  created () {
    this.loadHero()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.avatar-wrappper {

}
</style>
