<template>
  <div>
    <template v-if="isLoading">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>
    </template>
    <template v-if="isFound">
      <div class="heroes">
        <ul class="collection with-header ">
          <li class="collection-header white-text blue-grey darken-3"
              style="border-bottom: 1px solid black">
            <h3 style="margin: 0.2em;">Heroes</h3>
          </li>
          <li class="collection-item avatar blue-grey lighten-4  text-darken-3" v-for="hero in heroes" :key="hero.id">
            <div class="blue col-3">
              <img :src="hero.icon" :alt="hero.name" class="circle">
            </div>
            <span class="title">
              <router-link :to="getLinkHero(hero)">{{hero.name}}</router-link>
            </span>
            <p>{{hero.title}}</p>
          </li>
        </ul>
        <div class="col s12">
          <a class="waves-effect waves-light btn-large blue-grey darken-3"
             style="display: block"
             @click="loadMore">
            Load more
          </a>
        </div>
      </div>
    </template>
  </div>

</template>

<script>
const STATUS_LOADING = 0
const STATUS_FOUND = 1

export default {
  name: 'Heroes',
  data () {
    return {
      status: STATUS_LOADING,
      heroes: [],
      page: 0,
      limit: 20
    }
  },
  computed: {
    isLoading () {
      return this.status === STATUS_LOADING
    },
    isFound () {
      return this.status === STATUS_FOUND
    }
  },
  methods: {
    loadHeroes (page, limit) {
      this.$api.getHeroes({
        page: String(page),
        limit: String(limit)
      }).then((heroes) => {
        this.heroes = [...this.heroes, ...heroes]
        this.status = STATUS_FOUND
      })
    },
    loadMore () {
      this.page += 1
      this.loadHeroes(this.page, this.limit)
    },
    getLinkHero (hero) {
      return `/heroes/${hero.id}`
    }
  },
  created () {
    this.loadHeroes(this.page, this.limit)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
